body {
    font-family: calibri, sans-serif;
}

h1 { 
    font-size: 18pt;
    text-align: center;
}

#attribute-selection ul {
    list-style-type: none;
    width: 180px;
    padding: 0;
    font-size: 10px;
}

#attribute-selection li {
    border: 1px #DDD solid;
    padding: 2px;
    cursor: pointer;
}

#attribute-selection-1 li.selected {
    background-color: #7bf;
}

#attribute-selection-2 li.selected {
    background-color: #fd4;
}

#country-selection {
    text-align: center;
}

#attribute-selection, #charts {
    display: inline-block;
    vertical-align: top;
}

svg line, .axis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

svg text {
     font-family: calibri, sans-serif;
     font-size: 8pt;
 }

.axis.task2 .domain {
    display: none;
}

section {
    width: 100%
    margin: auto;
    padding: 10px;
}
div#task2 {
    width: 100%;
    float: left;
}
div#task1 {
    margin-left: 110%;
}