h1 { 
    font-size: 18pt;
    font-family: calibri, arial, sans serif;
    text-align: center;
}

ul {
    list-style-type: none;
    width: 260px;
    padding: 0;
}

li {
    border: 1px #DDD solid;
    padding: 5px;
    cursor: pointer;
}

#attribute-selection-one li.selected {
    background-color: #44f;
    color: #FFF;
}

#country-selection {
    text-align: center;
}

#attribute-selection-one, #charts {
    display: inline-block;
}
