body {
    font-family: calibri, sans-serif;
}

h1 { 
    font-size: 18pt;
    text-align: center;
}

#attribute-selection ul {
    list-style-type: none;
    width: 180px;
    padding: 0;
    font-size: 10px;
}

#attribute-selection li {
    border: 1px #DDD solid;
    padding: 2px;
    cursor: pointer;
}

#attribute-selection-1 li.selected {
    background-color: #7bf;
}

#attribute-selection-2 li.selected {
    background-color: #fd4;
}

#country-selection {
    text-align: center;
}

#attribute-selection {
    position: fixed;
    top: 10px;
    left: 10px;
}

svg line, .axis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

svg text {
     font-family: calibri, sans-serif;
     font-size: 8pt;
 }

.axis.task2 .domain {
    display: none;
}


#charts {
    position: absolute;
    top: 80px;
    left: 200px;
}

#charts > * {
    position: absolute;
    left: 0px;
    top: 0px;
}

div#task1 {
    transform: translateX(700px);
}

div#task2 {
}

div#task4 {
    transform: translate(700px, 220px);
}

div#task5 {
    position: absolute;
    top: 400px;
    left: 0px;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}